.qodo
.vscode
.env

### Spotify Spring ###

spring/HELP.md
spring/target/
spring/.mvn/
spring/!**/src/main/**/target/
spring/!**/src/test/**/target/
spring/*#
spring/*.iml
spring/*.ipr
spring/*.iws
spring/*.jar
spring/*.sw?
spring/*~
spring/.#*
spring/.*.md.html
spring/.DS_Store
spring/.attach_pid*
spring/.classpath
spring/.factorypath
spring/.gradle
spring/.metadata
spring/.project
spring/.recommenders
spring/.settings
spring/.springBeans
spring/MANIFEST.MF
spring/_site/
spring/activemq-data
spring/bin
spring/build
spring/!/**/src/**/bin
spring/!/**/src/**/build
spring/build.log
spring/dependency-reduced-pom.xml
spring/dump.rdb
spring/interpolated*.xml
spring/lib/
spring/manifest.yml
spring/out
spring/overridedb.*
spring/.flattened-pom.xml
spring/secrets.yml
spring/.gradletasknamecache
spring/.sts4-cache
spring/.git-hooks/


### Spotify fastapi ###
fastapi/*.log
fastapi/*.pot
fastapi/*.pyc
fastapi/__pycache__
fastapi/db.sqlite3
fastapi/media
fastapi/htmlcov/ 
fastapi/.tox/ 
fastapi/.coverage 
fastapi/.coverage.* 
fastapi/.cache 
fastapi/.pytest_cache/ 
fastapi/nosetests.xml 
fastapi/coverage.xml 
fastapi/*.cover 
fastapi/.hypothesis/ 
fastapi//site 
fastapi/.vscode/* 
fastapi/!.vscode/settings.json 
fastapi/!.vscode/tasks.json 
fastapi/!.vscode/launch.json 
fastapi/!.vscode/extensions.json 
fastapi/.history
fastapi/**/__pycache__/
fastapi/.env/
fastapi/shared/configs/.env