.qodo
.vscode
.env

### Spring ###

spotify_spring/HELP.md
spotify_spring/target/
spotify_spring/.mvn/
spotify_spring/!**/src/main/**/target/
spotify_spring/!**/src/test/**/target/
spotify_spring/*#
spotify_spring/*.iml
spotify_spring/*.ipr
spotify_spring/*.iws
spotify_spring/*.jar
spotify_spring/*.sw?
spotify_spring/*~
spotify_spring/.#*
spotify_spring/.*.md.html
spotify_spring/.DS_Store
spotify_spring/.attach_pid*
spotify_spring/.classpath
spotify_spring/.factorypath
spotify_spring/.gradle
spotify_spring/.metadata
spotify_spring/.project
spotify_spring/.recommenders
spotify_spring/.settings
spotify_spring/.springBeans
spotify_spring/MANIFEST.MF
spotify_spring/_site/
spotify_spring/activemq-data
spotify_spring/bin
spotify_spring/build
spotify_spring/!/**/src/**/bin
spotify_spring/!/**/src/**/build
spotify_spring/build.log
spotify_spring/dependency-reduced-pom.xml
spotify_spring/dump.rdb
spotify_spring/interpolated*.xml
spotify_spring/lib/
spotify_spring/manifest.yml
spotify_spring/out
spotify_spring/overridedb.*
spotify_spring/.flattened-pom.xml
spotify_spring/secrets.yml
spotify_spring/.gradletasknamecache
spotify_spring/.sts4-cache
spotify_spring/.git-hooks/


### Django ###
spotify_django/*.log
spotify_django/*.pot
spotify_django/*.pyc
spotify_django/__pycache__
spotify_django/db.sqlite3
spotify_django/media
spotify_django/htmlcov/ 
spotify_django/.tox/ 
spotify_django/.coverage 
spotify_django/.coverage.* 
spotify_django/.cache 
spotify_django/.pytest_cache/ 
spotify_django/nosetests.xml 
spotify_django/coverage.xml 
spotify_django/*.cover 
spotify_django/.hypothesis/ 
spotify_django//site 
spotify_django/.vscode/* 
spotify_django/!.vscode/settings.json 
spotify_django/!.vscode/tasks.json 
spotify_django/!.vscode/launch.json 
spotify_django/!.vscode/extensions.json 
spotify_django/.history
spotify_django/**/__pycache__/
